.card{
    background-color: rgb(205, 205, 205);
    width: 250px;
    height: fit-content;
}
.card-highlight{
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(54, 53, 53);
}
.card-img{
    height: 200px;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-btn{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding:1.5em 0;
}
.btn{
    border: none;
    background-color: rgb(75, 75, 241);
    color: white;
    padding: 1em;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}
#product-list{
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 2em;
    justify-content: center;
}

#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0,0,.5);
    z-index: 2;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
#modal{
    display: none;
    width: fit-content;
    height: fit-content;
    background-color: white;
    z-index: 3;
    padding: 2em;
    border-radius: 10px;
}
#modal-form{
    gap: 1em;
    display: flex;
    flex-direction: column;
}
.product-details{
    background-color: #ccc;
    padding: .5em 1.5em;
    border-radius: 10px;
    box-shadow: -1px 1px 2px black;
}
.block-display{
    display: block;
}